# পাইথনের ক্যাশ ফোল্ডার এবং ফাইল
__pycache__/
*.pyc
*.pyo
*.pyd

# লিনাক্সের নিজস্ব হিডেন সিস্টেম ফাইল এবং থাম্বনেইল ক্যাশ
.directory
.Trash-*/
.thumbnails/

# এডিটরের কনফিগারেশন ফোল্ডার (যদি VS Code ব্যবহার করেন)
.vscode/

# ভার্চুয়াল এনভায়রনমেন্ট (যদি তৈরি করে থাকেন)
venv/
.venv/
env/